{% macro timetable(data, show_empty = False, first_letter = True) %}
     <table class="table table-bordered" style="table-layout: fixed">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">{% if first_letter %}M{% else %}Monday{% endif %}</th>
                <th class="text-center">{% if first_letter %}T{% else %}Tuesday{% endif %}</th>
                <th class="text-center">{% if first_letter %}W{% else %}Wednesday{% endif %}</th>
                <th class="text-center">{% if first_letter %}T{% else %}Thursday{% endif %}</th>
                <th class="text-center">{% if first_letter %}F{% else %}Friday{% endif %}</th>
                <th class="text-center">{% if first_letter %}S{% else %}Saturday{% endif %}</th>
                <th class="text-center">{% if first_letter %}S{% else %}Sunday{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% set days = 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday' %}
            {% for hour_number in range(24) %}
                {% set hour = ('%s' % hour_number).zfill(2) %}

                {% if show_empty or hour not in data.get('empty_hours', []) %}
                <tr>
                    <th>{{ hour }}:00</th>
                    {% for day in days %}
                        {% if hour in data['hours'] and day in data['hours'][hour] %}
                            <td class="text-center" style="background-color: #{{ data['hours'][hour][day]['color'] }}">{{ data.get('format', '%.2f') % data['hours'][hour][day]['value'] }}</td>
                        {% else %}
                            <td class="text-center" style="background-color: #ffffff"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
   

{% endmacro %}
