{% set link="home" %}
{% set title="Home" %}
{% extends "master.html" %}
{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1>Intellidata</h1>
        <p>Analytics application</p>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center">
            <h1>Global information</h1>
            <p>Check global timelines, adjacency matrix and summaries</p>
        </div>
        <div class="col-lg-6 text-center">
            <h2>Zipcode information</h2>
            <p>Check local information by zipcode</p>
        </div>
    </div>
</div>

{% endblock %}
