{% set link="basic" %}
{% set title="Zipcode" %}
{% extends "master.html" %}
{% block body %}
        
    {% from "_widgets.html" import map %}

    <div class="container text-center">
        {{ map("0", url_for('.zipcode_map_file', zipcode = zipcode, algorithm = algorithm, field = field), url_for('.zipcode_map_algorithm', zipcode = zipcode, algorithm = 'ALGORITHM', field = 'FIELD'), zipcode, algorithm, algorithms, field, fields) }}
    </div>

{% endblock %}
{% block scripts %}

    {% from "_widgets.html" import map_scripts, map_initializer %}

    {{ map_scripts() }}
    {{ map_initializer("0", url_for('.zipcode_map_file', zipcode = zipcode, algorithm = algorithm, field = field), fields) }}

{% endblock %}
