{% set link="local" %}
{% set title="Zipcode" %}
{% extends "master.html" %}
{% block body %}

{% from "_widgets.html" import timetable %}
<div class="container">
    
    <div class="page-header">
        <h2>Information</h2>
    </div>
    <ul>
        <li><a href="{{ url_for('basic.zipcode_timeline', zipcode = zipcode ) }}">Timeline</a></li>
        <li><a href="{{ url_for('basic.zipcode_timetables', zipcode = zipcode ) }}">Timetables</a></li>
        <li><a href="{{ url_for('basic.zipcode_map', zipcode = zipcode ) }}">Map</a></li>
    </ul>
</div>

{% endblock %}
