{% set link="basic" %}
{% set title="Zipcode" %}
{% extends "master.html" %}
{% block body %}

{% from "_widgets.html" import timeline %}
<div class="container">
    <h2>Gasto medio</h2>
    {{ timeline(data['avg'][0], data['avg'][1], "avg") }}
    <h2>Pagos</h2>
    {{ timeline(data['num_payments'][0], data['num_payments'][1], "num_payments", "%i") }}
    <h2>Gasto total</h2>
    {{ timeline(data['total'][0], data['total'][1], "total") }}
</div>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for('static', filename='js/raphael-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/raphael-analytics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/raphael-popup.js') }}"></script>
    <script>
        loadTimetable("avg");
        loadTimetable("num_payments", 'payment');
        loadTimetable("total");
    </script>
{% endblock %}

