{% set link="local" %}
{% set title="Zipcodes" %}
{% extends "master.html" %}
{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Madrid</h1>
    </div>

    {% for x in madrid_zipcodes %}
    <div class="col-lg-1">
        <a href="{{ url_for('local.zipcode_summary', zipcode=x) }}">{{ x }}</a>
    </div>
    {% endfor %}


     <div class="page-header">
        <h1>Barcelona</h1>
    </div>   
    {% for x in barcelona_zipcodes %}
    <div class="col-lg-1">
        <a href="{{ url_for('local.zipcode_summary', zipcode=x) }}">{{ x }}</a>
    </div>
    {% endfor %}

</div>

{% endblock %}
